/* Variables */
$menuWidth:			160px;
$fontSize:			14px;
$bgColor:			#fff;
$borderColor:		#eee;
$borderRadius:		4px;
$boxShadow:			0 6px 12px rgba(0,0,0,.175);

$menuItem-color:	#333;
$menuItem-bg:		#f6f6f6;

/* Share Menu */
._sharemenu_menu_list_ {
	position: absolute;
	z-index: 999;
	display: none;
	float: left;
	min-width: $menuWidth;
	font-size: $fontSize;
	padding: .4em 0;
	margin: .15em 0 0;
	text-align: left;
	list-style: none;
	background-color: $bgColor;
	background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid $borderColor;
	border-radius: $borderRadius;
	box-shadow: $boxShadow;
    user-select: none;
	
	li {
		a {
			display: block;
			padding: .25em 1.5em .25em .75em;
			clear: both;
			font-weight: 400;
			line-height: 1.6;
			color: $menuItem-color;
			white-space: nowrap;
			text-decoration: none;
			
			&:hover {
				background-color: $menuItem-bg;
				text-decoration: none;
			}
			
			i {
				display: inline-block;
				width: 1.25em;
			}
		}
	}
}
